[submodule "cmake-helpers"]
	path = cmake-helpers
	url = https://github.com/karel-burda/cmake-helpers
	branch = master
[submodule "test-utils"]
	path = test-utils
	url = https://github.com/karel-burda/test-utils
